
li{
list-style: none;
margin-bottom: 2px;
}
.todoLiText{
	margin-left: 5px;
}
#completedCheck{
	display: inline;
}

.deleteBtn{
	margin-left: 5px;
}
.todoTextCompleted{
	text-decoration: line-through;
}
#textEditInput{
	visibility: hidden;
	margin-left:  2px;
}
.glyphicon-ok{
	visibility: hidden;
	margin-left: 5px;
}