
li{
list-style: none;
margin-bottom: 2px;

}
.todoLiText{
	margin-left: 5px;
	margin-right: 5px;
	min-width: 50px;
}
#completedCheck{
	display: inline;
}

.editBtn{
	float: right;
}
.glyphicon-ok{
	display: none;
	margin-left: 5px;
	margin-right: 5px;
	float: right;
	top:5px;
}
.textEditInput{
	display: none;
	margin-left:  2px;
	float: right;
}
.deleteBtn{
	margin-right: 5px;
	float: right;
}

.todoTextCompleted{
	text-decoration: line-through;
}
#toggleAllBtn{
	visibility: hidden;
	margin-bottom: 10px;
}
.well{
	margin-bottom: 3px;
}
/*.oddLi{
	background-color: #EFEBEB;
}
.evenLi{
	background-color:#CACACA;
}*/
